@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Chinook music store!</h1>
    <br/><br/><br/>
    <h2>For Artists click <a href="/Artists/Index">here</a></h2>
    <h2>For Albums click <a href="/Albums/Index">here</a></h2>
    <h2>For Tracks click <a href="/Tracks/Index">here</a></h2>
</div>
